// ==== Blog Archive ==== //

.blog-archive {
  &__container {
    max-width: 906px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 1rem;
    justify-content: center;

    .card.image.vertical {
      justify-self: center;
      padding: 0;
      margin-bottom: 0px;
      .card-img {
        width: 100%;
        margin: 0;
        height: 200px;
        object-fit: cover;
      }
      .card__main-content {
        margin: 0.5rem 1rem;
        padding: 0;
      }
    }
  }
}
