// ============ Leadership Archive ============ //

.leadership-archive {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(150px + 1rem), 1fr));
    grid-gap: 4rem;
    .leadership-card {
      border: 2px solid color(border);
      width: calc(150px + 1rem);
      padding: 1rem 0.5rem 0.5rem;
      &:hover {
        transform: scale(-50%);
      }

      &__photo {
        margin: 0 -0.5rem;
        text-align: center;
        border-bottom: 2px solid color(border);
        img {
          margin-bottom: -2px;
        }
      }
    }
  }
  @media (max-width: map-get($breakpoints, phone)) {
    .container {
      max-width: calc(100% - 2rem);
      padding: 1rem;

      .leadership-card {
        justify-self: center;
      }
    }
  }
  @media (max-width: 450px) {
    .container {
      max-width: calc(100% - 2rem);
      padding: 1rem;
      .leadership-card {
        justify-self: center;
      }
    }
  }
}
