// ==== News Archive ==== //
.news-archive__container {
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;

  .card {
    margin-bottom: 0;
    padding: 2rem;
  }
}
