$base-font: (
  size: 18px,
  button-size: 16px,
  small-size: 14px,
  family: (
    "Open-Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif
  ),
  family-code: (
    "Fira Mono",
    "Courier New",
    "Monaco"
  ),
  family-header: (
    "Raleway",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif
  ),
  weightHeaderBold: 900,
  weightHeaderNormal: 700,
  weightParagraphBold: 500,
  weightParagraphNormal: 400,
  weightParagraphLight: 300,
  mbsHeader: 0.1em,
  mbeHeader: 0em,
  mbsParagraph: 1.4em,
  mbeParagraph: 0.05em
);

$letter-spacing: (
  header: 0.025,
  display: 0.025,
  title: 0.025,
  subtitle: 0.025,
  headline: 0.025,
  subheading: inherit,
  paragraph: inherit,
  button: 0.025em,
  overline: 0.015em,
  caption: 0,
  code: inherit
);

$typography-size-Stablet: (
  header: 2em,
  display: 1.625em,
  title: 1.375em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.9em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-Stablet: (
  header: 1.25,
  display: 1.15384615,
  title: 1.13626264,
  subtitle: 1.11,
  headline: 1.11,
  subheading: 1.11,
  paragraph: 1.375,
  button: 1,
  overline: 1.375,
  caption: 1.375,
  code: 1.375
);
// Size Desktop ~1000px & up
$typography-size-desktop: (
  header: 3em,
  display: 2.25em,
  title: 1.75em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.9em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-desktop: (
  header: 1.05,
  display: 1.25,
  title: 1.25,
  subtitle: 1.25,
  headline: 1.25,
  subheading: 1.25,
  paragraph: 1.375,
  button: 1,
  overline: 1.45,
  caption: 1.45,
  code: 1.45
);

// Large Tablet Size ~600-1000px
$typography-size-Ltablet: (
  header: 2.5em,
  display: 2em,
  title: 1.5em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.9em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-Ltablet: (
  header: 1.125,
  display: 1.25,
  title: 1.25,
  subtitle: 1.222,
  headline: 1.22,
  subheading: 1.2,
  paragraph: 1.375,
  button: 1,
  overline: 1.45,
  caption: 1.45,
  code: 1.45
);

$typography-size-phone: (
  header: 2em,
  display: 1.625em,
  title: 1.375em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.9em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-phone: (
  header: 1.25,
  display: 1.15384615,
  title: 1.13636364,
  subtitle: 1.111,
  headline: 1.1111,
  subheading: 1.111,
  paragraph: 1.275,
  button: 1,
  overline: 1.25,
  caption: 1.25,
  code: 1.375
);
