<template>
  <span id="search-button">
    <span id="search-icon" @click="openUp()">
      <i title="search" :class="icon"></i>
    </span>
    <modal-overlay v-on:close-modal="closeDown()" v-bind:overlay="searchIsOpen"></modal-overlay>
    <transition name="fade" mode="out-in">
      <div v-if="searchIsOpen" id="search-dropdown">
        <div v-cloak class="search-container">
          <i class="far fa-search"></i>
          <input
            id="search-field"
            placeholder="search..."
            v-model="query"
            class="search-input"
            v-on:keyup="updateQuery()"
            type="text"
          >
          <div class="search-result__container">
            <div v-for="(value, key) in results" :key="key">
              <h3
                class="search-result__category underline"
                style="text-transform: capitalize;"
                v-html="key"
              ></h3>
              <div class="search-result__item" v-for="val in value" :key="val.link">
                <a v-bind:href="val.link">
                  <div id="search-result__for-hover">
                    <h6 v-html="val.title.rendered"></h6>
                    <p v-html="val.excerpt.rendered" class="caption"></p>
                    <hr style="margin: 1rem 0">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </span>
</template>
<script>
import ModalOverlay from "../modal/modal-overlay.vue";
import Vue from "vue";
import axios from "axios";
import { debounce } from "lodash";
export default {
  name: "search-component",
  data: function() {
    return {
      icon: wpMenu.searchIcon,
      searchIsOpen: false,
      body: document.querySelector("body"),
      requestUrl: `${wpSite}/wp-json/wp/v2/posts?type[]=announcement&type[]=documentation&type[]=blog&type[]=news&type[]=documentation&type[]=page&type[]=solutions&type[]=modules&type[]=partner&type[]=changelog&search=`,
      query: "",
      results: null,
      showDropdown: null,
      message: "hello"
    };
  },
  components: {
    ModalOverlay
  },
  methods: {
    openUp: function() {
      if (!this.searchIsOpen) {
        this.body.classList.add("modal-open");
        this.showDropdown = true;
        this.searchIsOpen = true;
      }
    },
    closeDown: function() {
      this.searchIsOpen = false;
      this.showDropdown = false;
      this.body.classList.remove("modal-open");
    },
    enter: function() {
      document.getElementById("header-search").classList.remove("hidden");

      this.searchIsOpen = true;
      this.showDropdown = true;

      setTimeout(() => {
        const searchField = document.getElementById("search-field");
        searchField.focus();
        searchField.select();
      }, 500);
    },
    leave: function() {
      this.searchIsOpen = false;
      this.query = "";
      this.results = {};
    },
    updateQuery: debounce(function() {
      if (this.query.length > 1) {
        this.results = {};
        const results = this.results;
        const query = this.query;
        axios
          .get(`${this.requestUrl}"${this.query}"`)
          .then(function(response) {
            response.data.map(res => {
              if (query == query) {
                if (results[res.type]) {
                  const newResults = [...results[res.type], res];
                  Vue.set(results, res.type, newResults);
                } else {
                  Vue.set(results, res.type, [res]);
                }
              } else {
                return null;
              }
            });
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        this.results = {};
      }
    }, 50)
  }
};
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
</style>
});
