<template>
  <div class="leadership-card">
    <div class="leadership-card__inner" @click="openUp()">
      <slot></slot>
    </div>
    <modal-overlay v-on:close-modal="closeDown()" v-bind:overlay="overlayIsOpen"></modal-overlay>

    <modal-body
      v-on:close-modal="closeDown()"
      v-bind:modal="modalIsOpen"
      v-bind:name="name"
      v-bind:img="img"
      v-bind:title="title"
      v-bind:bio="bio"
    ></modal-body>
  </div>
</template>

<script>
import ModalOverlay from "./modal-overlay.vue";
import ModalBody from "./modal-body.vue";

export default {
  name: "leadership-modal",
  props: ["name", "img", "title", "bio"],
  data: function() {
    return {
      overlayIsOpen: false,
      modalIsOpen: false,
      body: document.querySelector("body")
    };
  },
  components: {
    ModalOverlay,
    ModalBody
  },
  methods: {
    openUp: function() {
      this.body.classList.add("modal-open");
      this.overlayIsOpen ? null : (this.overlayIsOpen = true);
      this.modalIsOpen ? null : (this.modalIsOpen = true);
      this.modalIsOpen ? null : this.$emit("open-modal");
    },
    closeDown: function() {
      this.overlayIsOpen ? (this.overlayIsOpen = false) : null;
      this.modalIsOpen ? (this.modalIsOpen = false) : null;
      this.modalIsOpen ? null : this.$emit("close-modal");
      this.body.classList.remove("modal-open");
    }
  }
};
</script>

<style scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
</style>
});
