<template>
  <transition name="fadeSlow">
    <div v-if="modal" class="vue-modal">
      <div class="modal__wrapper">
        <div class="modal__container">
          <div class="modal__inside">
            <div class="modal__header">
              <h4 class="underline">{{name}}</h4>
              <p class="caption">{{ title }}</p>
            </div>
            <div v-html="bio" class="modal__body"></div>
            <div class="modal__footer">
              <button style="float: right;" class="button blue" @click="$emit('close-modal')">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "modal-body",
  props: ["modal", "name", "bio", "title"]
};
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
.vue-modal {
  position: fixed;
  z-index: 1000;
  background: #fff;
  width: 600px;
  max-width: 85vw;
  max-height: 80vh;
  left: calc(50vw - 300px);
  top: calc(50vh - 40vh);
  border: 4px solid #333;
  padding: 2em;

  @media (max-width: 706px) {
    width: 85vw;
    left: calc(50vw - 42.5vw);
  }

  .caption {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .modal__body {
    max-height: calc(80vh - 200px);
    overflow-y: scroll;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    padding: 1em 1em 0 1em;
  }

  .modal__footer {
    margin-top: 2em;
  }
}
</style>
});
