/* --------------------------------

 Header

-------------------------------- */

// Logo

.swup-logo {
  margin-top: 16px;
  position: absolute;
  left: 4%;
  z-index: 499;
}

//make mobile nav scrollable
.dropdown-list {
  height: calc(100vh - 60px);
  overflow: scroll;
  border-radius: 4px;

  @media (max-width: 999px) {
    padding-bottom: 24px;
  }
}

//make body fixed when nav is open
.body-fixed {
  position: fixed;
}

// when nav is open
@media (max-width: 999px) {
  .product-heading-spacer {
    display: none;
  }

  .swup-logo {
    &.nav-open {
      svg {
        path {
          fill: getColor(gray, 700);
          transition: fill 0.3s ease-in-out;
        }
      }
    }
  }

  header.cd-morph-dropdown.nav-open {
    background: white;

    .nav-trigger {
      /* menu icon - visible on small screens only */
      span::after,
      span::before {
        background-color: getColor(gray, 700);
      }
    }
  }
}

.cd-morph-dropdown {
  z-index: 499;
  position: relative;
  height: 60px;
  background-color: transparent;

  &.active {
    background-color: $color-3;
  }

  &::before {
    /* never visible - used in JS to check mq */
    content: "mobile";
    display: none;
  }

  .nav-trigger {
    /* menu icon - visible on small screens only */
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    /* replace text with icon */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;

    span,
    span::after,
    span::before {
      /* these are the 3 lines of the menu icon */
      position: absolute;
      background-color: getColor(gray, 700);
      height: 3px;
      width: 26px;
    }

    &.darkPrimary {
      span,
      span::after,
      span::before {
        background-color: getColor(gray, 800);
      }
    }
    &.darkSecondary {
      span,
      span::after,
      span::before {
        background-color: getColor(gray, 600);
      }
    }
    &.darkDisabled {
      span,
      span::after,
      span::before {
        background-color: getColor(gray, 400);
      }
    }
    &.lightPrimary {
      span,
      span::after,
      span::before {
        background-color: white;
      }
    }
    &.lightSecondary {
      span,
      span::after,
      span::before {
        background-color: getColor(gray, 400);
      }
    }
    &.lightDisabled {
      span,
      span::after,
      span::before {
        background-color: getColor(gray, 600);
      }
    }

    span {
      @include center;
      transition: background-color 0.3s;
    }

    span::after,
    span::before {
      content: "";
      left: 0;
      transition: transform 0.3s;
    }

    span::before {
      transform: translateY(-9px);
    }

    span::after {
      transform: translateY(9px);
    }
  }

  &.nav-open .nav-trigger span {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav {
    display: none;
    float: right;
    /* padding-right: calc(50vw - 453px); */
    margin-right: calc(50vw - 453px);
  }

  .morph-dropdown-wrapper {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: inset 0 1px 0 ($color-3, 10%);
    background-color: $color-3;
  }

  &.nav-open .morph-dropdown-wrapper {
    display: block;
  }

  // .dropdown-list > ul > li {
  //   margin-bottom: 3.3em;
  // }

  .label {
    display: block;
    @include font(button);
    color: getColor(gray, 50);
    padding: 0.8em 16px;
    position: relative;
    background: getColor(gray, 500);
    margin-bottom: 0px;
  }

  .content li {
    @include clearfix;
  }

  // .gallery .content li {
  //   margin-bottom: 1.4em;
  // }

  .gallery .content a {
    // display: block;

    // &::before {
    //   /* icon on the left */
    //   content: "";
    //   display: inline-block;
    //   float: left;
    //   height: 54px;
    //   width: 54px;
    //   margin-right: 0.6em;
    //   background: getColor(gray, 700);
    //   border-radius: 50%;
    //   transition: background 0.2s;
    // }

    // span,
    // em {
    //   display: block;
    //   line-height: 1.2;
    // }

    // em {
    //   font-size: 18px;
    //   padding: 0.4em 0 0.2em;
    //   color: $color-1;
    // }

    // span {
    //   font-size: 16px;
    //   color: shade($color-3, 35%);
    // }

    // &:hover::before {
    //   background-color: $color-1;
    // }
  }

  // .gallery li:nth-of-type(1) a::before {
  //   background: #f4e58a url(styles/img/cd-gallery-icons.svg) no-repeat 0 0;
  // }

  // .gallery li:nth-of-type(2) a::before {
  //   background: #f4af6d url(styles/img/cd-gallery-icons.svg) no-repeat -54px 0;
  // }

  // .gallery li:nth-of-type(3) a::before {
  //   background: #db6356 url(styles/img/cd-gallery-icons.svg) no-repeat -108px 0;
  // }

  // .gallery li:nth-of-type(4) a::before {
  //   background: #8d4645 url(styles/img/cd-gallery-icons.svg) no-repeat -162px 0;
  // }

  // .links .content > ul > li {
  //   margin-top: 1em;
  // }

  // .links-list a,
  // .btn {
  //   display: block;
  //   margin-left: 14px;
  //   font-size: 18px;
  //   line-height: 1.6;

  //   &:hover {
  //     color: $color-1;
  //   }
  // }

  // .content h2 {
  //   // color: shade($color-3, 35%);
  //   color: getColor(gray, 700);
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   font-size: 16px;
  //   margin: 20px 0 10px 14px;
  // }

  @include MQ(L) {
    // position: absolute;
    height: 80px;
    left: 0;
    top: -20px;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: transparent;
    position: absolute;

    &::before {
      content: "desktop";
    }

    .nav-trigger {
      display: none;
    }

    .main-nav {
      display: inline-block;
      padding-top: 0px;
    }

    .main-nav > ul > li {
      display: inline-block;
      float: left;
    }

    .main-nav > ul > li > a {
      display: block;
      padding: 0 1em;
      height: 70px;
      line-height: 70px;
      // color: $color-3;
      color: getColor(gray, 700);
      font-size: 18px;
      @include font-smoothing;
      transition: opacity 0.2s;

      &[title="search"] {
        display: inline;
      }
    }

    &.is-dropdown-visible .main-nav > ul > li > a {
      /* main navigation hover effect - on hover, getColor(gray, 700)uce opacity of elements not hovegetColor(gray, 700) over */
      opacity: 0.6;
    }

    &.is-dropdown-visible .main-nav > ul > li.active > a {
      opacity: 1;
    }

    .morph-dropdown-wrapper {
      /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
      display: block;
      top: 91px;
      /* overwrite mobile style */
      width: auto;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
      /* Force Hardware acceleration */
      transform: translateZ(0);
      will-change: transform;
      transform: translateY(20px);
      transition: transform 0.3s;
    }

    &.is-dropdown-visible .morph-dropdown-wrapper {
      transform: translateY(0);
    }

    .dropdown-list {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      transform: translateZ(0);
      will-change: transform, width, height;
      transition: visibility 0.3s;
      box-shadow: 0 5px 20px rgba(#000, 0.08);

      .no-csstransitions & {
        display: none;
      }

      &::before {
        /* dropdown top triangle */
        content: "";
        position: absolute;
        bottom: 100%;
        @include center(x);
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: getColor(orange, 100);
        opacity: 0;
        transition: opacity 0.3s;
      }

      > ul {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        background: #fbfbfb;
      }
    }

    &.is-dropdown-visible .dropdown-list {
      visibility: visible;
      transition: transform 0.3s, width 0.3s, height 0.3s;

      &::before {
        opacity: 1;
      }
    }

    .dropdown {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transition: opacity 0.3s, visibility 0.3s;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      &.move-left .content {
        transform: translateX(-100px);
      }

      &.move-right .content {
        transform: translateX(100px);
      }
    }

    .label {
      /* hide the label on bigger devices */
      display: none;
    }

    .content {
      // padding: 0em 0em 2.2em;
      transition: transform 0.3s;
      text-align: left;

      > ul {
        @include clearfix;
      }

      > ul > li {
        @include column(0.48);
        margin-right: 4%;
        margin-top: 0;

        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }

    .gallery .content {
      /* you need to set a width for the .content elements because they have a position absolute */
      width: 510px;
      padding-bottom: 0.8em;

      li {
        margin-bottom: 1.8em;
      }
    }

    .links .content > ul > li {
      margin-top: 0;
    }

    .links .content,
    .paragraph .content {
      width: 390px;
    }

    .links-list a {
      font-size: 16px;
      margin-left: 0;
    }

    .btn {
      display: block;
      width: 100%;
      height: 60px;
      margin: 1.5em 0 1.5em;
      font-size: 24px;
      text-align: center;
      color: $color-3;
      line-height: 60px;
      background: $color-2;
      @include font-smoothing;

      &:hover {
        background: $color-1;
        color: $color-3;
      }
    }

    .content h2 {
      font-size: 1.8rem !important;
      text-transform: none;
      font-weight: normal;
      color: $color-1;
      margin: 0 0 0.6em;
    }

    .bg-layer {
      /* morph dropdown background */
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 1px;
      background: $color-3;
      opacity: 0;
      transition: opacity 0.3s;
      transform-origin: top left;
      transform: translateZ(0);
      will-change: transform;
      backface-visibility: hidden;
    }

    &.is-dropdown-visible .bg-layer {
      opacity: 1;
      transition: transform 0.3s, opacity 0.3s;
    }
  }
}

.item-link {
  &-container {
    display: flex;
    align-items: center;
    padding: 8px 32px;

    &:hover {
      .item-link-small-title {
        transition: all 0.3s ease-in-out;
        color: getColor(gray, 700);
      }
      .item-link-icon::before {
        opacity: 1;
      }
      .item-link-icon {
        box-shadow: none;
      }
    }
  }
  &-icon-container {
    max-width: 50px;
    width: 50px;
    margin-right: 16px;
  }

  &-icon {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50px;
    background-size: contain !important;
    background-position: center center;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    transition: all 0.25s ease-in-out;
    position: relative;

    // &.partner {
    //   background: url("img/partner.png");
    // }

    // &.payments {
    //   background: url("img/payments.png");
    // }

    // &.hrp {
    //   background: url("img/hrp.png");
    // }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(black, 0.15);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}

div.content-small {
  &.dark {
    background: #f5f5f5;
    padding-bottom: 8px;
  }

  .item-link {
    &-container {
      display: flex;
      align-items: center;
      padding: 8px 32px;

      &:hover {
        .item-link-small-title {
          transition: all 0.3s ease-in-out;
          color: getColor(gray, 700);
        }
        .item-link-icon::before {
          opacity: 1;
        }
        .item-link-icon {
          box-shadow: none;
        }
      }
    }
    &-icon-container {
      max-width: 30px;
      width: 30px;
      margin-right: 16px;
    }

    &-icon {
      width: 100%;
      padding-bottom: 100%;
      border-radius: 50px;
      background-size: contain !important;
      background-position: center center;
      box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
      transition: all 0.25s ease-in-out;
      position: relative;

      // &.jetx {
      //   background: url("img/jetx.png");
      // }

      // &.jetsource {
      //   background: url("img/jetsource.png");
      // }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(black, 0.15);
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
    }

    &__text-container {
      display: inline;

      .item-link {
        &-small-title {
          transition: color 0.3px ease-in-out;
          margin-right: 8px;
        }
        &-small-subtitle {
          @include font(caption);
          font-weight: 500;
          font-size: 16px;
          color: getColor(gray, 700);
        }
      }
    }
  }
}

@media (min-width: 999px) {
  .swup-logo {
    left: calc(50vw - (453px - 16px));
  }
}

.admin-bar {
  .cd-morph-dropdown {
    @include MQ(L) {
      .main-nav {
        display: inline-block;
        padding-top: 25px;
      }
    }
  }
}
