body.blog,
body.news,
body.announcement {
  .blog-preview__text-container {
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .excerpt {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        display: none;
        width: 0px;
        height: 0px;
      }

      p {
        margin: 8px 0px;
      }
    }
  }

  .link-pagination {
    cursor: default;
    user-select: none;
    margin: 24px auto;
    padding: 16px;
    width: fit-content;
    @include font("paragraph");
    .page-numbers {
      cursor: pointer;
      color: getColor(gray, 800);
      font-weight: 600;
      padding: 8px;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: getColor(blue, 600);
      }
      &.current {
        color: getColor(gray, 600);
      }
    }
  }
  .blog-header__title {
    margin-bottom: 40px;
  }
  #swup {
    ul {
      @include font("paragraph");
      margin-top: 0;
      list-style: none;
      margin: 2em 0 2.45em 1.45em;
      padding: 0;
      text-indent: -1.3em;

      li {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }

        ul > li {
          &::before {
            content: "◦";
            color: getColor(blue, 800);
            padding-right: 0.6rem;
          }

          ul > li {
            &::before {
              content: "•";
              color: getColor(blue, 800);
              padding-right: 0.6rem;
            }

            ul > li {
              &::before {
                content: "◦";
                color: getColor(blue, 800);
                padding-right: 0.6rem;
              }

              ul > li {
                &::before {
                  content: "•";
                  color: getColor(blue, 800);
                  padding-right: 0.6rem;
                }

                ul > li {
                  &::before {
                    content: "◦";
                    color: getColor(blue, 800);
                    padding-right: 0.6rem;
                  }
                }
              }
            }
          }
        }

        &::before {
          content: "•";
          color: getColor(blue, 800);
          padding-right: 0.6rem;
        }
      }
    }
    .user-content {
      & > h2 {
        font-size: 26px;
        margin-bottom: 1em;
        margin-top: 16px;
      }

      & > h3 {
        font-size: 24px;
        margin-bottom: 1em;
        margin-top: 16px;
      }

      & > h4 {
        font-size: 22px;
        margin-bottom: 1em;
        margin-top: 16px;
      }

      & > h5 {
        font-size: 20px;
        margin-bottom: 1em;
        margin-top: 16px;
      }
    }
  }

  .blog-archive {
    &__container {
      grid-gap: 16px;
      grid-auto-flow: dense;
      grid-template-columns: repeat(auto-fill, minmax(208px, 23%));
      // grid-template-rows: repeat(auto-fit, 325px);

      .card {
        grid-column: span 1;
        grid-row: span 1;

        h5 {
          font-size: 18px;
        }

        div.excerpt {
          strong,
          p,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-size: 16px !important;
            font-weight: 400 !important;
          }
        }

        &:hover {
          cursor: pointer !important;
        }

        .blog-archive-author-name {
          margin-top: 8px;
          margin-bottom: 0px;
          color: getColor(gray, 600);
          font-weight: 600;
          font-size: 14px;
        }

        &.featured {
          grid-column: span 2;
          grid-row: span 2;

          .featured-background-image {
            color: white;
            font-size: 20px;
            text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
            background-size: cover !important;
            background-position: center !important;
            margin-right: -16px;
            margin-left: -16px;
            padding: 16px 16px 50%;
            margin-top: -0px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
          }
        }

        .blog-preview__text-container {
          margin: 1px 16px;
          height: 100%;
          padding: 0 0 8px;
        }
      }
    }

    &__header-image {
      padding-bottom: 52.42%;
      width: 100%;
      background-position: center center !important;
      background-size: contain !important;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }

  div.excerpt {
    p {
      @include font(caption);
    }
  }

  @media (max-width: 999px) {
    .blog-archive {
      &__container {
        grid-gap: 16px;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        margin: auto;
        max-width: 95vw;
      }
      .card {
        grid-column: span 1;

        &.featured {
          grid-column: span 2;
          grid-row: span 2;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .blog-header__title {
    margin-left: 16px;
    margin-right: 16px;
  }
}
