.blog-post.annoucement.changelog {
  padding: 40px 16px;
}

h3.changelog {
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
article.changelog-content_container {
  article.changelog-entry {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 136px 1fr;
    align-items: flex-start;
    margin: 8px auto 24px;
    max-width: 806px;

    .changelog-title__container {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: none !important;
        }
      }
      margin: 8px 0px;
      p {
        width: fit-content;
        margin: 0;
        border: 1px solid;
        padding: 0.1em 0.5em 0.07em;
        border-radius: 1em;
        font-size: 11px;
      }
    }

    .changelog-summary__container {
      margin: 4px 0px;
      p {
        color: getColor(gray, 600);
        margin: 0px;
      }
    }
  }
}
