body.single-news,
body.single-announcement {
  .news-single__content-container {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  @media (min-width: 1001px) {
    div.container.card {
      padding: 40px 64px;
      margin: 80px auto;
    }
    .news-single {

      &__content-container {
        img {
          max-width: 100% !important;
          height: auto;

          &.alignright {
            float:right;
            margin:0 0 1em 1em;
          }
          &.alignleft {
            float:left;
            margin:0 1em 1em 0;
          }
          &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }

        a > img {
          .alignright {
            float:right;
            margin:0 0 1em 1em;
          }
          .alignleft {
            float:left;
            margin:0 1em 1em 0;
          }
          .aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      &__header-image {
        width: 100%;

        .page-title {
          font-size: 36px;
        }
      }

      &__bottom-form-container {
        margin-top: 100px;
      }

      &__header-area {
        h1.page-title,
        h2,
        p {
          margin: 0;
        }
      }
    }

    article {
      margin-top: 40px;
      display: flex;

      .blog-single {


        &__sidebar-container {
          width: 200px;
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: start;
          margin-left: 64px;

          p.sidebar-header {
            margin-bottom: 8px;
          }

          p:not(.sidebar-header) {
            margin-bottom: 0px;
            margin-top: 0px;
          }
        }

        &__sidebar-social {
          display: grid;
          grid-template-columns: 50px 1fr;
          align-items: start;
          height: 40px;
        }
      }
    }
  }
}

body.single-news,
body.single-announcement {
  @media (min-width: 801px) and (max-width: 1000px) {
    .news-single__header-image,
    .back-to-all-news {
      margin: 0 32px 16px;
    }

    h1 {
      font-size: 36px;
    }

    h1.page-title,
    h2,
    p {
      margin: 0;
    }
  }
}

article {
  margin-top: -1px;
  display: flex;
  // max-width: 606px;

  .blog-single {
    &__content-container {
      // max-width: 606px;
    }

    &__sidebar-container {
      width: 200px;
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: start;

      p.sidebar-header {
        margin-bottom: 8px;
      }

      p:not(.sidebar-header) {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }

    &__sidebar-social {
      display: grid;
      grid-template-columns: 50px 1fr;
      align-items: start;
      height: 40px;
    }
  }
}

/// Mobile Styles
@media only screen and (max-width: 800px) {
  body.single-news,
  body.single-announcement {
    .container {
      margin: auto;
      padding: 0 16px;
      max-width: 100%;
      box-shadow: none;
    }
    .news-single {
      &__bottom-form-container {
        margin-top: 100px;
      }

      &__header-area-container {
        margin: 0px;
        margin-top: 0;

        h1 {
          font-size: 28px;
        }
      }

      h1.page-title {
        margin: 0;
        font-size: 28px;
        margin-top: 80px;
      }

      h2 {
        margin: 0;
        font-size: 26px;
      }
    }
  }

  article {
    margin-top: -1px;
    display: flex;
    flex-direction: column;

    span.caption {
      margin-top: 0px;
    }

    .news-single {
      &__content-container {
        // max-width: 606px;
      }

      &__sidebar-container {
        width: 200px;
        display: flex;
        justify-content: start;
        flex-direction: row;
        align-items: center;
        margin: auto;

        p.sidebar-header {
          margin: 8px;
          margin-right: 16px;
        }

        p:not(.sidebar-header) {
          margin-bottom: 0px;
          margin-top: 0px;
        }
      }
    }
  }

  .blog-single__sidebar-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

    p.color--dark-secondary {
      display: none;
    }

    a {
      padding: 8px;
    }
  }
}
