<template></template>

<script>
export default {
  name: "nav-items",
  data: function() {
    return {
      menu: wpMenu
    };
  }
};

// console.log(wpMenu);
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/

a {
  cursor: pointer;
}
</style>
});