//============= Footer ============ //

footer {
  border: none;
  background: linear-gradient(
      to right,
      rgba(#333, 0.6) 0%,
      rgba(#333, 0.2) 35%,
      rgba(#eee, 0.2) 100%
    ),
    url("https://cdn2.hubspot.net/hubfs/2004225/PolygonBackgroundsRGB-02.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid color(dark-primary);

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -2em;
  }

  .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    .jetpay-disclaimer {
      max-width: 80vw;
      padding-left: calc(50% - 453px);
      padding-right: 1em;
      align-self: center;

      @media (max-width: 906px) {
        padding-left: 1em;
      }
      p.caption {
        color: darken(white, 20%);
      }
    }
    .ncr-footer-logo {
      height: 90px;
      width: 90px;
      max-width: 20vw;
      max-height: 20vw;
      margin-left: calc((90px / 4.3619) - 1em);
      margin-bottom: calc((90px / 4.3619) - 1em);
      background: url("https://cdn2.hubspot.net/hubfs/2004225/Remastered_JetPayNCR.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  .footer-box {
    width: 100vw;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 0em;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100vw;
      margin: auto;
      list-style: none;
      padding: 0;
      .menu-item-has-children {
        margin: 0rem 2rem;

        & > a > p {
          @include font(subtitle);
          color: darken(#fff, 15%);
          cursor: default;
        }
        .sub-menu {
          list-style: none;

          .menu-item {
            margin-top: 0.5em;
          }

          a {
            p {
              font-weight: 600;
              transition: all 0.2s ease-in-out;
              color: darken(#fff, 20%);
              font-weight: 300;
              margin: 0;
              &:hover {
                color: color(blue);
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: map-get($breakpoints, tablet)) {
    .footer {
      flex-direction: column;
    }
  }
  @media (max-width: map-get($breakpoints, phone)) {
    .footer {
      margin: 0;
    }
  }
}
