// ============ Form ============= //
.form {
  border: 1px solid color(border);
  padding: 2rem;
  max-width: 66ch;
  width: 100%;

  input {
    width: 95%;
  }

  .two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  .form-field {
    margin-bottom: 1em;
  }
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 0.5em;
  }

  input {
    border: none;
    border-bottom: 1px solid color(border);
    transition: all 0.2s ease-in-out 0.05s;
    padding: 0.5em 0.4em 0.2em;
    background: #f6f6f6;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    &:focus {
      outline: none;
      border-bottom: 1px solid lighten(map-get($color, light-blue), 20%);
    }
  }
  @media (max-width: map-get($breakpoints, tablet)) {
    .two-col {
      display: flex;
      flex-direction: column;
    }
  }
}
