body.single-solutions,
body.single-modules,
body.payments.page,
body.payroll.page {
	.header-product {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 2em 0;
	}
	.product-header {
		background: color(paper);
		&__solution {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			max-width: fit-content;
			margin: auto;

			.button-text {
				color: color(dark-primary);
				padding: 1em 1em;
				font-size: 14px;

				&.separator {
					margin-left: 0;
					margin-right: 0;
				}
				&:hover {
					color: color(primary);
				}
			}
		}
	}

	.product-header-related {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&.button-text {
			color: color(dark-primary);
			&:hover {
				color: color(primary);
			}
		}
	}

	#related-modules {
		position: relative;
	}
	#related-modules__dropdown {
		transition: opacity 0.4s ease-in-out;
		transform-origin: 0% 0%;
		transform: scaleY(0);
		opacity: 0;
		box-shadow: 3px 6px 20px rgba(black, 0.2);
		cursor: default;
		&.open {
			transform: scaleY(1);
			padding: 0 0.75em 0.75em;
			opacity: 1;
			width: 100%;
			hr {
				margin: 0.75em 0;
			}
			.caption.no-margin:last-child {
				padding-bottom: 0.5em;
			}
		}
	}
	a.product-header-back.button-text {
		color: color(dark-primary);
		&:hover {
			color: color(primary);
		}
	}
}
a.related-link {
	color: color(dark-primary);
	&:hover {
		color: color(primary);
	}
}

.related-modules__drop-contain {
	padding: 1em 0;
	position: absolute;
	z-index: 100;
	#related-modules__dropdown {
		background: white;
		border-radius: 2px;
	}
}
