header .container .header-menu #search-dropdown {
  position: absolute;
  width: calc(100% - 20%);
  margin: 0 10%;
  background: transparent;
  left: 0;
  z-index: 1000;

  .search-container {
    position: absolute;
    left: calc(50% - 40vw);
    width: 100%;
    max-width: 80vw;
    background: transparent;
    margin: auto;
    padding: 16px 32px;
    text-align: left;
    border-radius: 1px;
    box-shadow: 0 20px 60px -2px rgba(0, 0, 0, 0.4);
    background: white;

    & > *:not(input):not(.fa-search) {
      margin-left: 32px;
      width: calc(100% - 32px);
    }

    &:focus-within {
      i.fa-search {
        color: color(primary);
        transition: 0.2s color ease-in;
      }
    }

    i.fa-search {
      color: color(dark-disabled);
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 0.1em;
    }

    div.close-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: -8px;

      i.fa-times {
        height: 33px;
        color: color(dark-disabled);
        width: 32px;
        height: 32px;
        vertical-align: text-top;
        padding: 8px;
        margin-right: 8px;
      }
    }

    input.search-input {
      display: inline-block;
      width: calc(100% - 42px);
      @include font("paragraph");
      border: none;
      border-bottom: 1px solid color(border);
      outline: none;
      border-bottom: 1px solid color(dark-disabled);
      z-index: 515;

      &:focus {
        outline: none;
      }
    }
  }

  @media (min-width: 1000px) {
    .search-container {
      width: 100%;
      max-width: 906px;
      background: white;
      margin: auto;
      padding: 16px 32px;
      text-align: left;
      border-radius: 1px;
      box-shadow: 5px 6px 30px rgba(0, 0, 0, 0.4);
      left: calc(50% - 453px);
    }
  }
}

#search-icon {
  width: 1em;
  height: 1em;
}

header .container .header-menu .search-result {
  &__category {
    color: color(dark-disabled);
    margin: 16px 0 8px;

    &.underline {
      &h3:first-of-type {
        margin-top: 2em;
      }
      margin-bottom: 1em;
      margin-top: 1em;
    }
  }

  &__item {
    & > a {
      color: color(dark-disabled);

      &:hover {
        color: color(blue);
      }
    }
    &:hover {
      color: color(blue);
      cursor: pointer;
    }

    p {
      margin: 0.5em 0 !important;
    }
  }

  &__container {
    margin-bottom: 24px;
    max-height: 85vh;
    overflow-y: scroll;
  }
}
