footer {
  margin-bottom: -10px;

  .footer-top {
    height: 1px;
    background: linear-gradient(
      to right,
      white,
      #f1f1f1,
      #f1f1f1,
      #f1f1f1,
      white
    );
  }

  .footer {
    padding-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr 200px;
    width: 100%;
    clear: both;
    overflow: hidden;

    a {
      color: map-get($typography-color, dark-disabled);
    }
  }
}

.footer-cubes {
  opacity: 0.87;
  margin-bottom: -1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: -1 / -2;
  align-items: flex-end;
  grid-column: 1 /2;
}

.footer-column {
  margin: 0 4vw;
  width: 200px;
  text-align: center;

  .footer-column-inner {
    display: inline-block;
    text-align: left;
  }
}

.footer-menu {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -40px;
}
h5 {
  width: 100%;
}

.textwidget p {
  margin: 0;
  margin-top: 0.5em;
}

.footer-bottom--section {
  grid-column: -1 / 1;
  grid-row: -1 / -2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer-image {
  &--color {
    background-image: url("img/color-box.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 30vw;
    margin-bottom: -2px;
  }

  &--orange {
    background-image: url("img/orange-box.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 30vw;
    margin-bottom: -2px;
  }

  &--blue {
    background-image: url("img/blue-box.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 30vw;
    margin-bottom: -2px;
  }

  &--teal {
    background-image: url("img/teal-box.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 30vw;
    margin-bottom: -2px;
  }

  &--gray {
    background-image: url("img/gray-box.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 30vw;
    margin-bottom: -2px;
  }
}

@media (min-width: 750px) {
  .footer-cubes {
    margin-bottom: -10px;
  }
}

@media (max-width: 749px) {
  .footer-bottom--section {
    align-items: flex-end;
    margin-right: 16px;
    margin-bottom: 8px;
  }
  .footer-column {
    text-align: center;
    margin-bottom: 16px;

    .footer-column-inner {
      text-align: center;
    }
  }

  footer .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
