.form-title {
  @include font(title);
  font-weight: 600;
  color: map-get($typography-color, dark-secondary);
  margin-top: 0px !important;
}

.form {
  background: #ffffff;
  box-shadow: 3px 5px 26px rgba(0, 0, 0, 0.08), 1px 1px 7px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 16px 24px;
  min-width: 300px;
  max-width: 768px;

  &--large {
    padding: 64px 40px;
  }

  &--med {
    padding: 40px 24px;
  }

  &--small {
    padding: 24px 16px;
  }

  .form-field__container.column > form#hubspot-form {
    flex-direction: column;
  }

  .form-field__container {
    padding: 8px 0 0px;

    form#hubspot-form {
      display: flex;
      // flex-direction: column;
      justify-content: space-around;
      align-content: space-evenly;
      flex-wrap: wrap;

      .field {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 80px;
        margin: 4px 0 8px;
        flex-grow: 1;

        .label {
          @include font(caption);
          color: getColor(gray, 500);
          margin: 0px;
        }

        .input {
          height: 26px;
          border-radius: 4px;
          border: 1px solid getColor(gray, 200);
          box-shadow: 0px 0px 0px rgba(getColor(blue, 50), 0);
          background-color: rgba(255, 255, 255, 0.53);
          margin-top: 8px;
          font-size: 14px;
          padding: 1.25em 7px;
          color: map-get($typography-color, dark-primary);
          transition: box-shadow 0.2s ease-in-out;

          &:focus {
            outline: none;
            transition: box-shadow 0.1s ease-in-out;
            box-shadow: 0px 0px 5px rgba(getColor(blue, 400), 0.2);
          }

          &::placeholder {
            color: getColor(gray, 400);
          }
        }
      }
      .button-container {
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        width: 100%;
        margin: 12px 0px 0px;

        button {
          height: 40px;
          flex-grow: 1;
        }
        // button {
        // background: linear-gradient(
        //     109.2deg,
        //     rgba(255, 255, 255, 0.13) 0%,
        //     rgba(255, 255, 255, 0) 97.53%
        //   ),
        //   #ff6600;
        // border-radius: 4px;
        //   padding: 8px 16px;
        //   color: #f1f1f1;
        //   font-weight: 600;
        // }
      }
    }
  }
}
