header.cd-morph-dropdown {
  z-index: 498;
}

#search-dropdown {
  position: absolute;
  width: calc(100% - 20%);
  margin: 0 10%;
  background: transparent;
  left: 0;
  z-index: 516;

  .search-container {
    position: absolute;
    left: calc(50% - 40vw);
    width: 100%;
    max-width: 80vw;
    background: transparent;
    margin: auto;
    padding: 16px 32px;
    text-align: left;
    border-radius: 4px;

    & > *:not(input):not(.fa-search) {
      margin-left: 32px;
      width: calc(100% - 32px);
    }

    &:focus-within {
      i.fa-search {
        color: getColor(orange, 400);
        transition: 0.2s color ease-in;
      }
    }

    i.fa-search {
      color: getColor(gray, 600);
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 0.1em;
    }

    div.close-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: -8px;

      i.fa-times {
        height: 33px;
        color: getColor(gray, 600);
        width: 32px;
        height: 32px;
        vertical-align: text-top;
        padding: 8px;
        margin-right: 8px;
      }
    }

    input.search-input {
      display: inline-block;
      width: calc(100% - 42px);
      @include font("paragraph");
      border: none;
      outline: none;
      border-bottom: 1px solid getColor(gray, 200);
      z-index: 515;

      &:focus {
        outline: none;
      }
    }
  }

  @media (min-width: 1000px) {
    .search-container {
      width: 100%;
      max-width: 906px;
      background: white;
      margin: auto;
      padding: 16px 32px;
      text-align: left;
      border-radius: 4px;
      left: calc(50% - 453px);
    }
  }
}

#search-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 504;
}

.fade-enter-active {
  opacity: 1;
  transition: all 0.3s 0.2s !important;
}
.fade-leave-active {
  transition: opacity 0.3s !important;
}
.fade-enter {
  opacity: 0 !important;
}
.fade-leave-to {
  opacity: 0 !important;
}

.grow-enter-active {
  transform: scaleY(1);
  transition: transform 0.3s linear !important;
}
.grow-leave-active {
  transition: transform 0.3s linear 0.2s !important;
}
.grow-enter {
  transform: scaleY(0);
}
.grow-leave-to {
  transform: scaleY(0);
}

.search-result {
  &__category {
    color: getColor(gray, 600);
    margin: 16px 0 8px;
  }

  &__item {
    & > a {
      color: getColor(gray, 700);

      &:hover {
        color: getColor(blue, 800);
      }
    }
    &:hover {
      color: getColor(blue, 800);
      cursor: pointer;
    }

    p {
      margin: 0.5em 0 !important;
    }
  }

  &__container {
    margin-bottom: 24px;
    max-height: 85vh;
    overflow-y: scroll;
  }
}
