* {
  margin: 0;
  padding: 0;
  border: 0;
}

#main_container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(252px, calc(50% - 260px)) 770px 1fr;

  section#sidebar {
    background: getColor(gray, 100);
    position: sticky;
    display: flex;
    flex: 0;
    z-index: 5;
    flex-direction: column;
    align-items: flex-end;
    user-select: none;
    width: 100%;
    min-width: 252px;
    height: 100vh;
    top: 0px;
    flex-grow: 1;
    grid-column-start: 1;
    grid-column-end: 2;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
    }

    &:before {
      right: 0;
      width: 1px;
      height: 100%;
      background: rgba(18, 60, 83, 0.05);
    }

    &:after {
      left: 0;
      width: 100%;
      height: 600px;
      background-image: linear-gradient(
        81deg,
        hsla(0, 0%, 100%, 0) 57%,
        hsla(0, 0%, 100%, 0.16) 84%,
        hsla(0, 0%, 100%, 0.17) 0,
        hsla(0, 0%, 100%, 0.57)
      );
    }

    .logo {
      overflow: hidden;
      position: absolute;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      z-index: 10;
      top: 14px;
      right: 0;
      width: 226px;
      margin: 0 0 0 -1px;

      .docs {
        width: 40px;
        height: 16px;
        background-image: url("./img/docsLogo.svg");
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        top: -3px;
        left: -4px;
      }
    }

    nav {
      position: absolute;
      top: 56px;
      bottom: 50px;
      right: 0;
      left: calc(100% - 452px);
      overflow-y: auto;
      z-index: 1;
      padding-top: 37px;
      padding-bottom: 45px;
      margin-left: 226px;

      h2 {
        font-size: 15px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 0 8px;
        height: 36px;
        line-height: 36px;
        font-weight: 600;

        a {
          color: getColor(gray, 700);

          i {
            vertical-align: unset;
            margin-right: 8px;
            width: 20px;
            color: getColor(gray, 600);
          }
        }
      }

      ul {
        padding-left: 25px;
        overflow: hidden;
        li > a {
          position: relative;
          display: block;
          font-size: 14px;
          color: #4c555a;
          text-decoration: none;
          min-height: 28px;
          line-height: 20px;
          padding: 4px 16px 4px 0;

          &.current {
            color: getColor(orange, 600);
          }
        }

        li.overline {
          font-size: 13px;
          color: getColor(gray, 600);
          margin: 8px 0 8px;
          font-weight: 500;
        }
      }
    }

    .logo-border {
      position: absolute;
      top: 55px;
      right: 0;
      width: 226px;
      height: 1px;
      background: rgba(120, 134, 156, 0.08);
      opacity: 0;
      -webkit-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
      pointer-events: none;
    }
  }
  #scroll-container {
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 770px 1fr;
    overflow-y: scroll;
  }
  article#content {
    background: #fff;
    outline: none;

    header#content-header {
      width: 770px;
      height: 55px;
      outline: none;

      #overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(255, 255, 255, 0.4);
        display: block;
        z-index: 5;
        top: 0;
        left: 0;
      }

      nav {
        display: flex;
        flex-direction: row;
        height: 100%;

        .search-wrapper {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          z-index: 10;

          input {
            margin: 8px 16px 8px 16px;
            padding-left: 24px;
            background-image: url(/wp-content/themes/jetpay/images/search-icon.svg);
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: left center;
            outline: none;
            @include font("caption");
            line-height: 1;
            margin-block-start: 0px;
            margin-block-end: 0px;
          }
        }

        #search-results {
          position: absolute;
          padding: 16px 32px;
          background: white;
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.12),
            2px 4px 12px rgba(0, 0, 0, 0.07);
          border-radius: 4px;
          margin: 56px 0px 8px;
          z-index: 10;
          width: 600px;

          a.results-item {
            &:focus {
              outline: none;
              color: getColor(gray, 900) !important;
            }

            .excerpt-container > * {
              font-size: 14px;
            }
          }
        }

        .top-nav {
          text-align: right;
          height: 55px;
          display: flex;
          align-items: center;
          max-width: 50%;
          float: right;

          & * {
            display: inline-block;
            margin-left: 16px;
          }

          button {
            padding: 0.2em 8px;
            white-space: nowrap;
          }

          .caption {
            font-size: 15px;
            font-weight: 500;
            color: getColor(gray, 700);
          }
        }
      }
    }

    aside#right_spacer {
      background-color: #fff;
      flex-grow: 1;
    }

    section#page-content {
      overflow-x: visible !important;
      border-top: 1px solid getColor(gray, 200);
      padding-left: 32px;
      padding-top: 33px;

      hr.between-articles {
        margin: 2em 0;
      }

      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 32px;
        margin-top: 0.9em;
      }

      h3 {
        font-size: 22px;
        margin-top: 0.9em;
      }

      h4 {
        font-size: 22px;
      }

      h5 {
        font-size: 20px;
      }

      h6 {
        font-size: 18px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: getColor(gray, 700);
        font-weight: 600;
      }

      p {
        font-size: 15px;
        line-height: 1.4;
        margin-top: 0.8em;
      }

      header.page-header {
        padding-top: 8px;
        padding-bottom: 39px;
        border-bottom: 2px solid #f4f6f7;

        .page-summary {
          padding-top: 1.2em;
        }

        .page-title {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  footer {
    grid-column-start: 2;
    grid-column-end: -1;
  }
  .collapsible-content {
    padding-left: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
  }
}

.shrink-enter-active,
.shrink-leave-active {
  transition: all 1s;
}
.shrink-enter, .shrink-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(150%);
}
