@mixin color(
  $group: orange,
  $variant: 500,
  $background: background,
  $properties: 50 100 200 300 400 500 600 700 800 900 primary,
  $font-stack: $theme-colors
) {
  $color-properties: map-get($font-stack, $group);

  #{$background}: map-get($color-properties, $variant);
}

@function getColor(
  $group: orange,
  $variant: 500,
  $properties: 50 100 200 300 400 500 600 700 800 900 primary,
  $font-stack: $theme-colors
) {
  $color-properties: map-get($font-stack, $group);

  @return map-get($color-properties, $variant);
}

@function getGradient($color: orange, $number: 500) {
  @return (
    linear-gradient(
      109.2deg,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0) 97.53%
    ),
    getColor($color, $number)
  );
}

.background {
  &--orange {
    @include color(orange, 500, background);
  }
  &--orange100 {
    @include color(orange, 100, background);
  }
  &--orange200 {
    @include color(orange, 200, background);
  }
  &--orange300 {
    @include color(orange, 300, background);
  }
  &--orange400 {
    @include color(orange, 400, background);
  }
  &--orange500 {
    @include color(orange, 500, background);
  }
  &--orange600 {
    @include color(orange, 600, background);
  }
  &--orange700 {
    @include color(orange, 700, background);
  }
  &--orange800 {
    @include color(orange, 800, background);
  }
  &--orange900 {
    @include color(orange, 900, background);
  }

  // BLUE

  &--blue {
    @include color(blue, primary, background);
  }
  &--blue50 {
    @include color(blue, 50, background);
  }
  &--blue100 {
    @include color(blue, 100, background);
  }
  &--blue200 {
    @include color(blue, 200, background);
  }
  &--blue300 {
    @include color(blue, 300, background);
  }
  &--blue400 {
    @include color(blue, 400, background);
  }
  &--blue500 {
    @include color(blue, 500, background);
  }
  &--blue600 {
    @include color(blue, 600, background);
  }
  &--blue700 {
    @include color(blue, 700, background);
  }
  &--blue800 {
    @include color(blue, 800, background);
  }
  &--blue900 {
    @include color(blue, 900, background);
  }

  // Teal

  &--teal {
    @include color(teal, primary, background);
  }
  &--teal50 {
    @include color(teal, 50, background);
  }
  &--teal100 {
    @include color(teal, 100, background);
  }
  &--teal200 {
    @include color(teal, 200, background);
  }
  &--teal300 {
    @include color(teal, 300, background);
  }
  &--teal400 {
    @include color(teal, 400, background);
  }
  &--teal500 {
    @include color(teal, 500, background);
  }
  &--teal600 {
    @include color(teal, 600, background);
  }
  &--teal700 {
    @include color(teal, 700, background);
  }
  &--teal800 {
    @include color(teal, 800, background);
  }
  &--teal900 {
    @include color(teal, 900, background);
  }

  // GRAY

  &--gray {
    @include color(gray, primary, background);
  }
  &--gray50 {
    @include color(gray, 50, background);
  }
  &--gray100 {
    @include color(gray, 100, background);
  }
  &--gray200 {
    @include color(gray, 200, background);
  }
  &--gray300 {
    @include color(gray, 300, background);
  }
  &--gray400 {
    @include color(gray, 400, background);
  }
  &--gray500 {
    @include color(gray, 500, background);
  }
  &--gray600 {
    @include color(gray, 600, background);
  }
  &--gray700 {
    @include color(gray, 700, background);
  }
  &--gray800 {
    @include color(gray, 800, background);
  }
  &--gray900 {
    @include color(gray, 900, background);
  }

  // RED

  &--red {
    @include color(red, primary, background);
  }
  &--red50 {
    @include color(red, 50, background);
  }
  &--red100 {
    @include color(red, 100, background);
  }
  &--red200 {
    @include color(red, 200, background);
  }
  &--red300 {
    @include color(red, 300, background);
  }
  &--red400 {
    @include color(red, 400, background);
  }
  &--red500 {
    @include color(red, 500, background);
  }
  &--red600 {
    @include color(red, 600, background);
  }
  &--red700 {
    @include color(red, 700, background);
  }
  &--red800 {
    @include color(red, 800, background);
  }
  &--red900 {
    @include color(red, 900, background);
  }
  // GREEN

  &--green {
    @include color(green, primary, background);
  }
  &--green50 {
    @include color(green, 50, background);
  }
  &--green100 {
    @include color(green, 100, background);
  }
  &--green200 {
    @include color(green, 200, background);
  }
  &--green300 {
    @include color(green, 300, background);
  }
  &--green400 {
    @include color(green, 400, background);
  }
  &--green500 {
    @include color(green, 500, background);
  }
  &--green600 {
    @include color(green, 600, background);
  }
  &--green700 {
    @include color(green, 700, background);
  }
  &--green800 {
    @include color(green, 800, background);
  }
  &--green900 {
    @include color(green, 900, background);
  }
  // PURPLE

  &--purple {
    @include color(purple, primary, background);
  }
  &--purple50 {
    @include color(purple, 50, background);
  }
  &--purple100 {
    @include color(purple, 100, background);
  }
  &--purple200 {
    @include color(purple, 200, background);
  }
  &--purple300 {
    @include color(purple, 300, background);
  }
  &--purple400 {
    @include color(purple, 400, background);
  }
  &--purple500 {
    @include color(purple, 500, background);
  }
  &--purple600 {
    @include color(purple, 600, background);
  }
  &--purple700 {
    @include color(purple, 700, background);
  }
  &--purple800 {
    @include color(purple, 800, background);
  }
  &--purple900 {
    @include color(purple, 900, background);
  }
}

.color {
  &--orange {
    @include color(orange, primary, color);
  }
  &--orange50 {
    @include color(orange, 50, color);
  }
  &--orange100 {
    @include color(orange, 100, color);
  }
  &--orange200 {
    @include color(orange, 200, color);
  }
  &--orange300 {
    @include color(orange, 300, color);
  }
  &--orange400 {
    @include color(orange, 400, color);
  }
  &--orange500 {
    @include color(orange, 500, color);
  }
  &--orange600 {
    @include color(orange, 600, color);
  }
  &--orange700 {
    @include color(orange, 700, color);
  }
  &--orange800 {
    @include color(orange, 800, color);
  }
  &--orange900 {
    @include color(orange, 900, color);
  }

  // BLUE

  &--blue {
    @include color(blue, primary, color);
  }
  &--blue50 {
    @include color(blue, 50, color);
  }
  &--blue100 {
    @include color(blue, 100, color);
  }
  &--blue200 {
    @include color(blue, 200, color);
  }
  &--blue300 {
    @include color(blue, 300, color);
  }
  &--blue400 {
    @include color(blue, 400, color);
  }
  &--blue500 {
    @include color(blue, 500, color);
  }
  &--blue600 {
    @include color(blue, 600, color);
  }
  &--blue700 {
    @include color(blue, 700, color);
  }
  &--blue800 {
    @include color(blue, 800, color);
  }
  &--blue900 {
    @include color(blue, 900, color);
  }

  // Teal

  &--teal {
    @include color(teal, primary, color);
  }
  &--teal50 {
    @include color(teal, 50, color);
  }
  &--teal100 {
    @include color(teal, 100, color);
  }
  &--teal200 {
    @include color(teal, 200, color);
  }
  &--teal300 {
    @include color(teal, 300, color);
  }
  &--teal400 {
    @include color(teal, 400, color);
  }
  &--teal500 {
    @include color(teal, 500, color);
  }
  &--teal600 {
    @include color(teal, 600, color);
  }
  &--teal700 {
    @include color(teal, 700, color);
  }
  &--teal800 {
    @include color(teal, 800, color);
  }
  &--teal900 {
    @include color(teal, 900, color);
  }

  // GRAY

  &--gray {
    @include color(gray, primary, color);
  }
  &--gray50 {
    @include color(gray, 50, color);
  }
  &--gray100 {
    @include color(gray, 100, color);
  }
  &--gray200 {
    @include color(gray, 200, color);
  }
  &--gray300 {
    @include color(gray, 300, color);
  }
  &--gray400 {
    @include color(gray, 400, color);
  }
  &--gray500 {
    @include color(gray, 500, color);
  }
  &--gray600 {
    @include color(gray, 600, color);
  }
  &--gray700 {
    @include color(gray, 700, color);
  }
  &--gray800 {
    @include color(gray, 800, color);
  }
  &--gray900 {
    @include color(gray, 900, color);
  }

  // RED

  &--red {
    @include color(red, primary, color);
  }
  &--red50 {
    @include color(red, 50, color);
  }
  &--red100 {
    @include color(red, 100, color);
  }
  &--red200 {
    @include color(red, 200, color);
  }
  &--red300 {
    @include color(red, 300, color);
  }
  &--red400 {
    @include color(red, 400, color);
  }
  &--red500 {
    @include color(red, 500, color);
  }
  &--red600 {
    @include color(red, 600, color);
  }
  &--red700 {
    @include color(red, 700, color);
  }
  &--red800 {
    @include color(red, 800, color);
  }
  &--red900 {
    @include color(red, 900, color);
  }
  // GREEN

  &--green {
    @include color(green, primary, color);
  }
  &--green50 {
    @include color(green, 50, color);
  }
  &--green100 {
    @include color(green, 100, color);
  }
  &--green200 {
    @include color(green, 200, color);
  }
  &--green300 {
    @include color(green, 300, color);
  }
  &--green400 {
    @include color(green, 400, color);
  }
  &--green500 {
    @include color(green, 500, color);
  }
  &--green600 {
    @include color(green, 600, color);
  }
  &--green700 {
    @include color(green, 700, color);
  }
  &--green800 {
    @include color(green, 800, color);
  }
  &--green900 {
    @include color(green, 900, color);
  }
  // PURPLE

  &--purple {
    @include color(purple, primary, color);
  }
  &--purple50 {
    @include color(purple, 50, color);
  }
  &--purple100 {
    @include color(purple, 100, color);
  }
  &--purple200 {
    @include color(purple, 200, color);
  }
  &--purple300 {
    @include color(purple, 300, color);
  }
  &--purple400 {
    @include color(purple, 400, color);
  }
  &--purple500 {
    @include color(purple, 500, color);
  }
  &--purple600 {
    @include color(purple, 600, color);
  }
  &--purple700 {
    @include color(purple, 700, color);
  }
  &--purple800 {
    @include color(purple, 800, color);
  }
  &--purple900 {
    @include color(purple, 900, color);
  }

  // NCR Green

  &--ncrgreen {
    @include color(ncrgreen, primary, color);
  }
  &--ncrgreen50 {
    @include color(ncrgreen, 50, color);
  }
  &--ncrgreen100 {
    @include color(ncrgreen, 100, color);
  }
  &--ncrgreen200 {
    @include color(ncrgreen, 200, color);
  }
  &--ncrgreen300 {
    @include color(ncrgreen, 300, color);
  }
  &--ncrgreen400 {
    @include color(ncrgreen, 400, color);
  }
  &--ncrgreen500 {
    @include color(ncrgreen, 500, color);
  }
  &--ncrgreen600 {
    @include color(ncrgreen, 600, color);
  }
  &--ncrgreen700 {
    @include color(ncrgreen, 700, color);
  }
  &--ncrgreen800 {
    @include color(ncrgreen, 800, color);
  }
  &--ncrgreen900 {
    @include color(ncrgreen, 900, color);
  }

  // NCR Aqua

  &--ncraqua {
    @include color(ncraqua, primary, color);
  }
  &--ncraqua50 {
    @include color(ncraqua, 50, color);
  }
  &--ncraqua100 {
    @include color(ncraqua, 100, color);
  }
  &--ncraqua200 {
    @include color(ncraqua, 200, color);
  }
  &--ncraqua300 {
    @include color(ncraqua, 300, color);
  }
  &--ncraqua400 {
    @include color(ncraqua, 400, color);
  }
  &--ncraqua500 {
    @include color(ncraqua, 500, color);
  }
  &--ncraqua600 {
    @include color(ncraqua, 600, color);
  }
  &--ncraqua700 {
    @include color(ncraqua, 700, color);
  }
  &--ncraqua800 {
    @include color(ncraqua, 800, color);
  }
  &--ncraqua900 {
    @include color(ncraqua, 900, color);
  }

  // Text Colors
  &--dark-primary {
    color: map-get($typography-color, dark-primary);
  }
  &--dark-secondary {
    color: map-get($typography-color, dark-secondary);
  }
  &--dark-disabled {
    color: map-get($typography-color, dark-disabled);
  }
  &--light-primary {
    color: map-get($typography-color, light-primary);
  }
  &--light-secondary {
    color: map-get($typography-color, light-secondary);
  }
  &--light-disabled {
    color: map-get($typography-color, light-disabled);
  }
}
