//============= Button ============ //

// Main Button Styles

button,
.button {
  @include font(button);
  margin: 0 !important;
  width: fit-content;
  whitespace: collapse;
  padding: 0.5em 1em;
  line-height: 1;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out 0.04s;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.01);

    &:focus {
      background: rgba(0, 0, 0, 0.15);
      outline: none;
    }
  }

  &:focus {
    outline: none;
  }

  &.small {
    padding: 0.5rem 1rem;
  }

  &.large {
    padding: 1rem 2rem;
  }

  &.filled {
    color: white;
    background: map-get($color, primary);

    &:hover {
      background: darken(map-get($color, primary), 10%);
    }

    &:focus {
      background: darken(map-get($color, primary), 20%);
    }
  }

  &.outline {
    color: map-get($color, primary);
    background: transparent;
    border: 1px solid map-get($color, primary);

    &:hover {
      border-color: darken(map-get($color, primary), 10%);
      background: map-get($color, primary);
      color: white;
    }

    &:focus {
      border-color: darken(map-get($color, primary), 20%);
      background: darken(map-get($color, primary), 10%);
      color: white;
    }

    &.white {
      color: white;
      background: transparent;
      border: 1px solid white;

      &:hover {
        border-color: map-get($color, primary);
        background: map-get($color, primary);
        color: white;
      }

      &:focus {
        border-color: darken(map-get($color, primary), 20%);
        background: darken(map-get($color, primary), 10%);
        color: white;
      }
    }
  }
}

// Button styles for Login Button Only

.login-button {
  cursor: pointer;
  &.small {
    display: none;
  }
  @media (max-width: map-get($breakpoints, tablet)) {
    &.small {
      display: inherit;
    }
    &.large {
      display: none;
    }
  }
}
