//============= Card ============ //

.card {
  max-width: calc(70ch + 4rem);
  margin: 0 auto 2rem;
  padding: 1.5rem 2rem 1rem;
  border: 1px solid color(border);
  // box-shadow: 0px 1px 2px 0px rgba(0,0,0,.15);
  position: relative;
  border-radius: 2px;

  &.image.vertical {
    display: flex;
    flex-direction: column;

    .card-img {
      width: calc(100% + 4rem);
      height: 400px;
      margin: -1.5rem -2rem 1rem;
      object-fit: cover;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &.image.horizontal {
    display: grid;
    max-width: calc(70ch + 8rem);
    padding: 0;
    grid-template-areas:
      "photo main main"
      "photo main main";

    hr {
      margin: 1rem 0;
    }

    .card-img {
      grid-area: photo;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .card__main-content {
      grid-area: main;
      padding: 1.5rem 2.5rem 1rem 2rem;
    }
  }

  @media (max-width: map-get($breakpoints, phone)) {
    &.image.horizontal {
      padding: 0.5rem 1rem;
      grid-template-areas:
        "photo photo photo photo"
        "main main main main";
      .card-img {
        grid-area: photo;
        width: calc(100% + 2rem);
        margin: -0.5rem -1rem 1rem;
        height: 300px;
        object-fit: cover;
      }
      .card__main-content {
        margin: 0.5rem 1rem;
        padding: 0;
      }
    }

    .card.image.vertical {
      .card-img {
        width: calc(100% + 2rem);
        margin: -0.5rem -1rem 1rem;
        height: calc(300px - 3rem);
        object-fit: cover;
      }
      .card__main-content {
        margin: 0.5rem 1rem;
        padding: 0;
      }
    }
  }

  @media (max-width: map-get($breakpoints, tablet)) and (min-width: map-get($breakpoints, phone)) {
    &.image.horizontal {
      grid-template-areas:
        "photo photo photo photo"
        "main main main main";

      .card-img {
        grid-area: photo;
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .card__main-content {
        margin: 0.5rem 1rem;
        padding: 0;
      }
    }
  }
}
