// All HubSpot Forms
.hs-form,
form {
	padding: 0em;
	max-width: 100%;
	margin: auto;
	input[type=date],
	input[type=datetime],
	input[type=datetime-local],
	input[type=email],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=range],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week],
	fieldset.form-columns-1 textarea.hs-input,
	fieldset.form-columns-1 .input select,
	.input textarea,
	.hs-input textarea,
	textarea,
	.input select,
	.hs-input select,
	select {
		border: 1px solid #d6d6d6;
		width: 100%;
		padding: 9px 14px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}
	fieldset.form-columns-1 .hs-input {
		width: 100% !important;
	}
	fieldset.form-columns-1 input[type="checkbox"],
	fieldset.form-columns-1 input[type="radio"] {
		width: auto !important;
		margin-right: 15px !important;
		margin-top: -2px;
	}
	label {
		color: #606060;
	}
	fieldset {
		max-width: 100% !important;
	}
	fieldset.form-columns-3 .hs-form-field {
		width: 33.333% !important;
	}
	fieldset {
		margin-bottom: 0 !important;
	}
	.hs-form-field {
		margin-bottom: 15px;
	}
	label {
		font-weight: normal;
		letter-spacing: 1px;
	}
	ul li {
		margin-top: 4px;
		margin-bottom: 4px !important;
		float: left;
		width: 100%;
	}
	fieldset textarea.hs-input {
		min-height: 200px;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 5px;
		border-radius: 0;
	}
	button,
	input[type=button],
	input[type=reset],
	input[type=submit] {
		background: #606060;
		color: white;
		padding: 7px 45px;
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 15px;
	}
	fieldset.form-columns-2 .hs-form-field {
		width: 50%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	fieldset.form-columns-3 .hs-form-field,
	fieldset.form-columns-2 .hs-form-field {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	fieldset .hs-form-field {
		padding: 0 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.hs_cos_wrapper.form-title {
		display: none;
	}
	@media screen and (max-width: 400px) {
		fieldset.form-columns-3 .hs-form-field {
			width: 100% !important;
		}
	}

	label,
	label span {
		font-family: 'Raleway', Arial !important;
		color: #333 !important;
		font-size: 14px !important;
		letter-spacing: 1px !important;
		font-weight: 500 !important;
		margin-bottom: 6px;
	}
	label {
		width: 100% !important;
		float: left !important;
		text-align: left !important;
		padding-left: 8px !important;
		padding-right: 0px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	input[type=date],
	input[type=datetime],
	input[type=datetime-local],
	input[type=email],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=range],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week],
	.input textarea,
	.hs-input textarea,
	textarea,
	.input select,
	.hs-input select,
	select {
		text-align: left !important;
		font-family: 'Open Sans', Arial !important;
		letter-spacing: 1px !important;
		font-weight: 300 !important;
		font-size: 15px !important;
		border-color: !important;
		color: #333 !important;
		background-color: #f6f6f6 !important;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		border-style: solid !important;
		border-radius: 2px !important;
		-moz-border-radius: 2px !important;
		-webkit-border-radius: 2px !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border-top-width: 0px !important;
		border-bottom-width: 0px !important;
		border-left-width: 0px !important;
		border-right-width: 0px !important;
		height: auto !important;
	}
	input::-webkit-input-placeholder,
	select::-webkit-input-placeholder {
		color: #777 !important;
		text-align: left !important;
	}
	input::-moz-placeholder,
	select::-moz-placeholder {
		color: #777 !important;
		text-align: left !important;
	}
	input:-ms-input-placeholder,
	select:-ms-input-placeholder {
		color: #777 !important;
		text-align: left !important;
	}
	input:-moz-placeholder,
	select:-moz-placeholder {
		color: #777 !important;
		text-align: left !important;
	}
	button,
	input[type=button],
	input[type=reset],
	input[type=submit] {
		@include font(button);
		margin: 0 !important;
		width: fit-content;
		whitespace: collapse;
		padding: 0.5em 1em;
		line-height: 1;
		border: none;
		padding: 0.75rem 1.5rem;
		border-radius: 0.25rem;
		transition: all 0.2s ease-in-out 0.04s;
		background: transparent;
		cursor: pointer;
		color: white;
		background: map-get($color, primary);

		&:hover {
			background: darken(map-get($color, primary), 10%);
			transform: scale(1.01);

			&:focus {
				background: darken(map-get($color, primary), 20%);
				outline: none;
			}
		}
	}
	.hs-submit {
		display: inline-block;
		width: 100%;
	}
	.hs-submit .actions {
		width: 100% !important;
		float: left !important;
		clear: both !important;
		text-align: left !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-left: 0px !important;
		padding-right: 16px !important;
	}
	@media screen and (max-width: 767px) {
		.form-columns-2 > div.hs-form-field,
		.form-columns-3 > div.hs-form-field,
		.form-columns-4 > div.hs-form-field {
			width: 100% !important;
		}
	}
	.hs-submit .actions {
		text-align: right !important;
	}
	.hs-error-msgs label,
	.hs-error-msgs label span {
		font-family: 'Open Sans', Arial !important;
		letter-spacing: 0px !important;
		font-weight: 300 !important;
		font-size: 12px !important;
		color: #ed5d00 !important;
	}
	button:hover,
	input[type=button]:hover,
	input[type=reset]:hover,
	input[type=submit]:hover {
		background: #4aa63f !important;
		color: #ffffff !important;
		border-color: #54b948 !important;
	}
	input[type="checkbox"] {
		margin-right: 10px;
		margin-top: -2px;
	}
}

.hs-richtext {
	float: left !important;
	width: 100% !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	color: #666666 !important;
	font-weight: 600 !important;
	letter-spacing: 0px !important;
	font-size: 12px !important;
	font-family: 'Open Sans' !important;
}

.grecaptcha-badge {
	width: auto !important;
	height: auto !important;
	box-shadow: none !important;
}
.center-the-form form,
.center-the-form form input {
	text-align: center;
}

.hs-custom-style
	fieldset
	input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]),
.hs-custom-style
	> div
	input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]),
.hs-custom-style textarea {
	transition: all .2s ease-in-out;
	&:focus {
		outline: none;
		box-shadow: 0px 0px 5px -1px color(light-blue);
	}
}
