body {
	&.modal {
		overflow: hidden;
	}
	.modal__overlay {
		transition: all .2s ease-in-out;
		z-index: 1000;
		background: rgba(black, .2);
		position: fixed;
		transform: scaleX(0);
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
	}

	&.modal {
		.modal__overlay {
			height: 100vh;
			width: 100vw;
			transform: scaleX(1);
			&.show {
				transition: all .5s ease-in-out;
				opacity: 1;
			}
		}
	}
}

[modal].modal__content {
	transition: .2s all ease-in-out;
	z-index: 1001;
	position: fixed;
	padding: 0em;
	max-width: 90%;
	max-height: 90vh;
	overflow-y: hidden;
	left: calc((100vw - 90%) / 2);
	background: white;
	box-shadow: 4px 8px 20px rgba(black, .2);
	border-radius: 2px;

	&.hide {
		transform: scaleY(0);
	}
}
