// ==== Modal Overlay that deactivates when 'closed' ==== //

.modal-overlay,
.vue-modal-overlay {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .button-text {
    text-align: center !important;
  }
  .follow-link {
    width: 100%;
    margin: auto;
  }
}
