<template>
  <span @click="$emit('show')" id="login-button" class="login-button large" title="login">
    Login &nbsp
    <i :class="icon"></i>
  </span>
</template>

<script>
export default {
  name: "login-component",
  props: ["icon"]
};
</script>

<style type=scss scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
</style>
});