html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	#vue-app {
		flex: 1 0 auto;
	}
	footer {
		flex-shrink: 0;
		position: relative;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
